# Automatically load the Nix development shell when entering this directory
# Requires direnv: https://direnv.net/
#
# To enable:
#   1. Install direnv
#   2. Run: direnv allow
#
# This will automatically install all required dependencies for the project.
use flake
